body {
  background-image: url(./images/background-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#root {
  position: relative;
	min-height: 100%;
}
ul {
  margin: 0 !important;
  list-style: none !important;
  padding: 0 !important;
}
.App {
  text-align: center;
  padding-bottom: 90px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.menu-block {
  padding: 20px;
  background-image: url(././images/header.webp);
    height: 80px;
    align-items: center;
    border: #002750;
    border-bottom-style:solid;
}
.logo {
  background-image: url(././images/wowlogo.png);
  width: 200px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
}
.menu {
  display: flex;
  float: left;
  padding-top: 10px !important;
}

.link-item {
  font-size: 16pt;
  line-height: 5pt;
  color: #ebdec2;
  text-transform: uppercase;
  transition: color 0.3s;
}
.link {
  margin: 0 16px;
  
}
h1 {
  color: #ebdec2 !important;
}
.selectPvpStats1 {
  margin: 0 3px !important
}
.selectPvpStats2 {
  margin: 0 3px !important
}
.colorPvpStats1 {
  background-color: #d37f00;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 30px;
  border-radius: 5px;
}
.colorPvpStats2 {
  background-color: #e63244;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 5px;
}
.ant-table {
  background: none !important;
  color: white !important;
}
.ant-table-tbody {
  background-image: url(././images/black.jpg) !important;
  opacity: 0.7;
}
.ant-table-cell-row-hover {
  background: #414141 !important;
}
.footer {
  padding: 20px;
  background-image: url(././images/header.webp);
    height: 50px;
    width: 100%;
    text-align: center;
    color: #ebdec2;
    position: absolute;
    left: 0;
    bottom: 0;
    border: #002750;
    border-top-style:solid;
}
a:hover {
  color:#d37f00 !important;
}
.input {
  margin: 10px auto;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #4e5257;
  text-align: center;
  font-size: 12pt;
  display: block !important;
  background: #1b1f22 !important;
  color: white;
}

.input:focus {
  outline: none;
  border: 2px solid #885200;
}

.btnPrimary {
  background-color: #d37f00 !important;
  border: solid #885200 2px !important;
  border-radius: 5px !important;
}
.error {
  font-size: 14pt;
  color: #ebdec2;
  font-weight: bold;
}
.loginForm {
  margin-top: 50px;
}
.ant-table-wrapper {
  width: 70% !important;
  margin: 50px auto;
}
.echarts-for-react {
  height: 600px !important;
  margin-top: 50px;
}
.buttonAuth {
  float: right;
}
.userBlock {
  float:right;
}
.battleTag {
  float: left;
  padding-right: 20px;
  font-size: 16pt;
  padding-top: 1px;
  font-weight: bold;
  color: #d37f00;
}
.tableStats1 {
  width: 300px;
  opacity: 100%;
  animation: opacityTableStats  1s;
}
.tableStats2 {
  width: 300px;
  opacity: 100%;
  animation: opacityTableStats  1s;
}
.chartStatsBlock {
  width: 800px;
}
.chartStats {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.classTableStatsOff {
  opacity: 0%;
  width: 300px;
}
@keyframes opacityTableStats {
  from {opacity: 0%;}
  to {opacity: 100%;}
  }
.titleStats {
  display: inline-block;
  padding-right: 20px;
}
.selectFraction {
  padding-right: 10px !important;
}
.ant-select div {
  background: #1b1f22 !important;
  border: 1px solid #4e5257 !important;
  color: white !important;
}
.ant-select-arrow {
  color: white !important;
}